<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690881197445-77cjl5ovf3887sm7tl7mlgprg89iu4fl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690881197445-77cjl5ovf3887sm7tl7mlgprg89iu4fl</string>
	<key>API_KEY</key>
	<string>AIzaSyClH8A9TlxVd0f7hmNdPoG5DG1PAs73hFw</string>
	<key>GCM_SENDER_ID</key>
	<string>690881197445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.DLGoBang</string>
	<key>PROJECT_ID</key>
	<string>dlgobang</string>
	<key>STORAGE_BUCKET</key>
	<string>dlgobang.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690881197445:ios:dc4209b724e47c3c4380ec</string>
	<key>DATABASE_URL</key>
	<string>https://dlgobang.firebaseio.com</string>
</dict>
</plist>